
<h1>PARTY <%= @party.id %></h1>
<div class="parties-display">
	<form action="/parties/<%= @party.id %>/edit">
	  <input class="btn-partys" type="submit" value="Edit Party">
	</form>

	<form action="/orders/<%= @party.id %>/new">
	  <input class="btn-partys" type="submit" value="Add Orders">
	</form>

	<form action="/orders/<%= @party.id %>/summary">
	  <input class="btn-partys" type="submit" value="Checkout">
	</form>
</div>

<div class="menu-form-div">
	<h3>Notes:</h3>

	<p><%= @party.notes %></p>
</div>
