<div id="form_edit_item">
<h2>EDIT: <%= @menu_item.name %></h2>
<form action="/menu_items/<%= @menu_item.id %>" method="POST">
  <fieldset>
   <legend>Food Information</legend>
   <input type="text" name="menu_item[name]" placeholder="<%= @menu_item.name %>"><br>
   <legend>Category</legend>
   <select name="menu_item[menu_category]" default="<%= @menu_item.menu_category %>"> 
       <option>Small Plates</option>
       <option>Special Features</option>
       <option>Drinks</option>
       <option>Test</option>
   </select><br>
   <legend>Price</legend>
   <input type="number" name="menu_item[price]" placeholder="0.0"><br>
   <legend>Description</legend> 
   <textarea name="menu_item[description]" placeholder="Description"></textarea>
 </fieldset>
 <br>
 <fieldset>
   <legend>Dietary Concerns</legend>

   <label for="gluten_free">Contains Gluten</label>
   <input name="menu_item[gluten_free]" type="hidden" value="false" />
   <input id="gluten_free" name="menu_item[gluten_free]" type="checkbox" value="true" /><br>

   <label for="nuts_free">Contains Nuts</label>
   <input name="menu_item[nuts_free]" type="hidden" value="false" />
   <input id="nuts_free" name="menu_item[nuts_free]" type="checkbox" value="true" /><br>   

   <label for="dairy_free">Contains Dairy</label>
   <input name="menu_item[dairy_free]" type="hidden" value="false" />
   <input id="dairy_free" name="menu_item[dairy_free]" type="checkbox" value="true" /><br>

   <label for="vegetarian">Vegetarian</label>
   <input name="menu_item[vegetarian]" type="hidden" value="false" />
   <input id="vegetarian" name="menu_item[vegetarian]" type="checkbox" value="true" /><br>

   <label for="vegan">Vegan</label>
   <input name="menu_item[vegan]" type="hidden" value="false" />
   <input id="vegan" name="menu_item[vegan]" type="checkbox" value="true" /><br>

 </fieldset>
 <input type="hidden" name="_method" value="PATCH">
 <input type="submit">
</form>

<form action="/menu_items/<%= @menu_item.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Menu_item">
</form>
</div>
