<h1>Menu</h1>

<h3 class="clear"><a href="/menuitems/new">Create New Menu Item</a></h3>

<div class="menuindexdiv">
	<h2>Small Plates</h2>
	<ol>
		<% @menuitems.where("menu_category='Small Plates'").each do |menuitem| %>
		<li><a class="menuitem" href="/menuitems/<%= menuitem.id %>"><%= menuitem.name %></a></li>
		<% end %>
	</ol>
</div>

<div class="menuindexdiv">
	<h2>Special Features</h2>
	<ol>
		<% @menuitems.where("menu_category='Special Features'").each do |menuitem| %>
		<li><a class="menuitem" href="/menuitems/<%= menuitem.id %>"><%= menuitem.name %></a></li>
		<% end %>
	</ol>
</div>

<div class="menuindexdiv">
	<h2>Cocktails</h2>
	<ol>
		<% @menuitems.where("menu_category='Drinks'").each do |menuitem| %>
		<li><a class="menuitem" href="/menuitems/<%= menuitem.id %>"><%= menuitem.name %></a></li>
		<% end %>
	</ol>
</div>



